{% load staticfiles %}
{% load i18n %}
{% include 'account/head_css.html' %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="welcome to smart tutor system">
    <meta name="author" content="Aditya kumar,R.sunder,Nitesh sharma">

    <title>Smart Tutor system</title>
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/agency.min.css'%}" rel="stylesheet">
</head>

<body id="page-top" class="index">

    <nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top affix">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{%url 'account_index'%}">Smart Tutor</a><!--this is header for smart tutor-->
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{%url 'account_signup' %}">SignUp</a>
                    </li>

                    <li>
                        <a class="page-scroll" href="{%url 'account_login'%}">SignIn</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{%url 'account_logout'%}">LogOut</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{%url 'quiz_categories'%}">Quiz</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{% url 'recommend'%}">Recommend</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <br/>
    <br/>
    <br/>
{% block content %}




{% block account_content %}
{% endblock %}

{% endblock %}

{% include 'account/javascript.html' %}
