
{% load staticfiles %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <script src="{%static 'js/jquery-2.1.1.min.js'%}"></script>
    <script src="{%static 'js/jquery.cslider.js'%}"></script>
    <script src="{%static 'js/owl.carousel.js'%}"></script>
    <script src="{%static 'js/modernizr.custom.28468.js'%}"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
