{% extends "account/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% include 'account/head_css.html' %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<header>
		<div class="container">
				<div class="intro-text">
						<div class="intro-lead-in">Welcome To Smart tutor!</div>
						<div class="intro-heading">Have a Tutor and Smile</div>
						<a href="#services" class="page-scroll btn btn-xl">About Us</a>
				</div>
		</div>
</header>

<!-- Services Section -->
<section id="services">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">About us</h2>
								<h3 class="section-subheading text-muted">Special attention to student's cognitive and affective states and their evolution as the learning process advances</h3>
						</div>
				</div>
				<div class="row text-center">
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">For everyone</h4><!--for abouut us section-->
								<p class="text-muted">Teaching individually by videos and tutorials like YouTube.</p>
						</div>
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">Free tutors</h4><!--for about use section -->
								<p class="text-muted">It's free, less labor</p>
						</div>
						<div class="col-md-4">
								<span class="fa-stack fa-4x">
										<i class="fa fa-circle fa-stack-2x text-primary"></i>
										<i class="fa fa-lock fa-stack-1x fa-inverse"></i>
								</span>
								<h4 class="service-heading">Best tutors</h4><!--it's for last-->
								<p class="text-muted">Better than human teachers ever could be.</p>
						</div>
				</div>
		</div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
		<div class="container">
				<div class="row">
						<div class="col-lg-12 text-center">
								<h2 class="section-heading">Our Amazing Team</h2>
								<h3 class="section-subheading text-muted"></h3>
						</div>
				</div>
				<div class="row">
						<div class="col-sm-4">
								<div class="team-member">
										<img src="{% static 'img/team/1.jpg' %}" class="img-responsive img-circle" alt="">
										<h4>R Sunder</h4>
										<p class="text-muted">Developer</p>
										<ul class="list-inline social-buttons">
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
										</ul>
								</div>
						</div>
						<div class="col-sm-4">
								<div class="team-member">
										<img src="{% static 'img/team/2.jpg' %}" class="img-responsive img-circle" alt="">
										<h4>Nitesh sharma</h4>
										<p class="text-muted">Developer</p>
										<ul class="list-inline social-buttons">
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
										</ul>
								</div>
						</div>
						<div class="col-sm-4">
								<div class="team-member">
										<img src="{% static 'img/team/3.jpg'%}"  class="img-responsive img-circle" alt="">
										<h4>Diana Pertersen</h4>
										<p class="text-muted">Lead Developer</p>
										<ul class="list-inline social-buttons">
												<li><a href="#"><i class="fa fa-twitter"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-facebook"></i></a>
												</li>
												<li><a href="#"><i class="fa fa-linkedin"></i></a>
												</li>
										</ul>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-lg-8 col-lg-offset-2 text-center">
								<p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
						</div>
				</div>
		</div>
</section>

{% endblock %}
