{% load staticfiles %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{%static 'js/star-rating.js' %}" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" integrity="sha384-mE6eXfrb8jxl0rzJDBRanYqgBxtJ6Unn4/1F7q4xRRyIw7Vdg9jP4ycT7x1iVsgb" crossorigin="anonymous"></script>
    <script src="{% static 'js/jqBootstrapValidation.js'%}"></script>
