{%extends 'account/base.html'%}

{% include 'account/head_css.html' %}
{% block content %}
<div class="container">
{% if user %}
    <h1>Welcome to smart tutor system {{user.first_name}}</h1>

    {% for account in user.socialaccount_set.all %}
        <p><img src="{{ account.extra_data.picture }}" /></p>
        <h3>UID: <a href="{{account.extra_data.link }}">{{ account.uid }}</a></h3>
        <h3>Username: {{ account.extra_data.name}}</h3>
        <h3>First Name: {{ account.extra_data.given_name}}</h3>
        <h3>Last Name: {{ account.extra_data.family_name }}</h3>
        <h3>Profile Link: <a href="{{ account.extra_data.link }}">{{ account.extra_data.link }}</a></h3>
        <div class="progress">
          <div class="progress-bar progress-bar-success" role="progressbar" style="width:{{enjoy}}%">
            Experience
          </div>
          <div class="progress-bar progress-bar-danger" role="progressbar" style="width:{{upset}}%">
            Angry
          </div>
        </div>
    {% endfor %}

    {%for eachRec in listOfRec %}

      <h1>Videos</h1>
      {%for vids in eachRec%}
          <h3>{{vids|first}}</h3>
          <iframe id="player" type="text/html" width="640" height="390"
    src="http://www.youtube.com/embed/{{vids.1}}?enablejsapi=1&origin=http://example.com"
    frameborder="0"></iframe>
      {%endfor%}
{% endfor %}

{% endif %}
</div>

{%endblock%}
