{% extends "account/base.html" %}
{% load staticfiles %}
{% load bootstrap %}
{% load i18n %}
{% include 'account/head_css.html' %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="account_div">
  <h1 class="positions">{% trans "Sign Up" %}</h1>

  <p class="positions" style="font-size:15px;">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

  <form id="signup_form" method="post" action="{% url 'account_signup' %}">
    {% csrf_token %}
    {{ form|bootstrap }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Sign Up" %}</button>
    </div>
  </form>
</div>

{% endblock %}
