{% extends "account/base.html" %}
{% block content %}
{% load i18n %}


{% block page_title %}
    Quiz categories
{% endblock %}

{% block header %}
    <h3>Categories</h3>
{% endblock %}

{% block article %}

    {% if categories %}
        <ul>
        {% for category in categories %}
            <li>
                <a href="{% url "quiz_category" category.id %}">
                    {{ category.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>There are no categories.</p>
    {% endif %}

{% endblock %}
{%endblock%}
