{% load el_pagination_tags %}

{% load markdown_deux_tags %}

{% if posts %}
	{% paginate posts %}
	<br/>
	{% for post in posts %}
		<article itemscope itemtype="http://schema.org/Article">
			<header itemprop="name">
				<a href="{{ post.get_absolute_url }}">
					<h1>{{ post.title }}</h1>
				</a>
			</header>

			<p class="publish-data">
				Posted on
				<time itemprop="datePublished" datetime="{{ post.post_date|date:'Y-m-d H:i:s' }}">
					{{ post.post_date }}
				</time>
				by
				<span itemprop="author">{{ post.posted_by }}</span> -
				<a itemprop="discussionUrl" href="{{ post.get_absolute_url }}#comments">
					<span itemprop="comment">
						{{ post.comment_count }} comment{{ post.comment_count|pluralize }}
					</span>
				</a>
			</p>

			<span itemprop="articleBody">{{ post.bodytext|markdown }}</span>

			<footer>
				<a class="button right" href="{{ post.get_absolute_url }}">Read more</a>
				<span class="hidden" itemprop="wordCount">{{ post.bodytext|wordcount }}</span>
			</footer>
		</article>
	{% endfor %}

	{% show_more "Load more blog posts" %}

{% else %}
<br/>
    <p>There's no blog entries...</p>
{% endif %}
